<div class="col-md-12">
  <h1 id="title">Analytics Dashboard</h1>


  <div class="content row">
    <div class="col-md-12">

      {{#each model}}
      <div class="clear col-md-{{data.size}}" id="{{id}}">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <span>{{data.title}}</span>
              {{refresh-chart data=this updateChartData="setChartData"}}
              <div class="tools">
                <a data-toggle="collapse" class="" data-target="#top-watched" href="#">
                  <i class="fa fa-angle-down"></i>
                </a>
              </div>
            </h4>
          </div>
          <div id="top-watched" class="panel-collapse collapse in">
            <div class="panel-body">
              {{ember-chart class='default-chart' id=data.id type=data.type options=options data=data.chartData legend=data.legend width=200 height=200}}
            </div>
          </div>
        </div>
      </div>
      {{else}}
        <h1>Sorry, no data!</h1>
      {{/each}}

    </div>
  </div>
</div>





{{outlet}}
