<div class="col-md-12">
  <!-- <h1 id="title">Analytics Dashboard</h1> -->


  <div class="content row">
    <div class="col-md-12">

      {{#each model}}
      <div class="clear col-md-{{data.size}}" id="{{id}}">
        <div class="panel panel-default panel-chart">
          <div class="panel-heading">
            <h4 class="panel-title">
              <span>{{title}}</span>
              <div class="tools">
                {{refresh-chart data=this updateChartData="setChartData"}}
                <!-- Single button -->
                <div class="btn-group">
                  <button type="button" class="btn-no-style dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="glyphicon glyphicon-cog"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <!-- <li role="separator" class="divider"></li> -->
                  </ul>
                </div>
              </div>
            </h4>
          </div>
          <div id="top-watched" class="panel-collapse collapse in">
            <div class="panel-body">
              {{partial "-chart-config"}}
              <small class="last-updated-time">{{lastUpdatedDate}}</small>
              {{ember-chart class='default-chart' id=id type=type options=options data=chartData legend=legend width=200 height=200}}
            </div>
          </div>
        </div>
      </div>
      {{else}}
        <h1>Sorry, no data!</h1>
      {{/each}}

    </div>
  </div>
</div>





{{outlet}}
